.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    margin: 1rem;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
  }
  
  .menu button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navcenterbutton {
    /* Posicionamiento */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  
    /* Dimensiones y estilo */
    width: 150px;
    height: 50px;
    margin: auto;
    border-radius: 25px;
    background-color: #0073b7;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  
    /* Animaciones */
    transition: all 0.3s ease;
  
    /* Efecto al pasar el mouse */
    &:hover {
      background-color: #005792;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
  }
  